#log {
    float: right;
    padding: auto;
    width: 10%;
    height: 100%;
    margin-top: 2%;
}

.loginbtn {
    padding: 3%;
    margin-left: 1%;
    border: solid;
    border-radius: 25%;
    background: #F2B705;
    color: white;
    text-decoration: none;
}

.loginbtn:hover {
    background: #F2E205;
    color: black;
    border-radius: 40%;
}

a:active {
    background: #F2E852;
}

header {
    background: #fff;
}

#logo {
    width: 5%;
}