.body {
    background-color: #8C6A03;
    height: 100vh;
}

.loging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.login {
    position: relative;
    top: 50%;
}

.signin {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table;
    margin: auto;
    margin-top: 4%;
    /*box-sizing: border-box;*/
}

.Btn {
    background: #BF9663;
    color: #FFD67F;
    border: #FFD67F;
    box-shadow: 1px 1px grey;
}

.Btn:hover {
    background: #FFD67F;
    color: #BF9663;
    border: #BF9663;
    box-shadow: 3px 3px grey;
}

.signin:hover {
    box-shadow: 3px 3px grey;
}

#conto-select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table;
    margin: auto;
    margin-top: 4%;
}

.laglogo {
    float: left;
    justify-content: center;
}

.lagspelare {
    flex: auto;
    justify-content: center;
}

.lagstatistic {
    justify-content: center;
    flex: right;
}

#profilPicDiv {
    width: 50%;
    height: 500px;
}

#profilDescription {
    width: 50%;
    height: 500px;
    float: right;
    margin-top: -500px;
}